// .app {

// }
.main {
  flex: 1 0 auto;
}

.quiz {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.quiz__sections {
  width: 100%;
display: flex;
padding: 0;
padding-inline-start: 0;
margin-bottom: 25px;

@include small-desktop {
flex-wrap: wrap;
}

}

.level {
  flex-grow: 1;
  text-align: center;
padding: 5px;

&_active {
background-color: $main-darker;
}

}

.quiz__card {
  width: 100%;
  display: flex;
  // max-width: $wrapper-width;
  padding: 10px;
  margin-bottom: 25px;

  @include mobile {
    flex-direction: column;
  }
}
.quiz__image {
  // padding: px;
  text-align: center;
}

.quiz__card__img {
  width: 200px;
  height: 155px;
  object-fit: cover;
}

// .


.quiz__variants, .quiz__variant-description {
width: 45%;
margin: 0 auto;
margin-bottom: 25px;

@include mobile {
  width: 100%;
}
}

// varriant start

.variant {
  padding-bottom: 10px;
  border: 1px solid $audio-timeline-color;
  vertical-align: middle;
  padding: 10px;
  position: relative;
  padding-left: 20px;

  &:before {
    top: calc(50% - 0.25rem);
    left: 5px;
    position: absolute;
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--circleColor, #376588);
  }
}

.variants_list {
  padding: 0;
  margin: 0;
}

//description start

.variant__wrapper {
display: flex;
flex-wrap: wrap;

@include tablet {
  flex-direction: column;
}

}

.variant__image-wrapper, .variant__name__wrapper {
  width: 50%;

  @include tablet {
    text-align: center;
    width: 100%;
  }
}

.variant__name__wrapper {
  display: flex;
  flex-direction: column;
}

