.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.rs {
  display: inline-block;
  height: 24px;
  width: 60px;
  background-image: url("../svg/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 9px;
  padding: 0px;
  color: #FFFFFF;
}

.language__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-selection {
  padding: 0px;
  margin-right: 9px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s;
  opacity: 0.8;
}
.language-selection:hover {
  opacity: 1;
}
.language-selection_active {
  background-color: #5b87a9;
  font-weight: 800;
}

.header {
  display: none;
  flex: 0 0 auto;
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
}

.audio {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.audio__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.audio-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.audio__play-button {
  background-image: url("../svg/play.svg");
}

.pause {
  background-image: url("../svg/pause.svg");
}

.audio__volume-button {
  background-image: url("../svg/volume.svg");
}

.mute {
  background-image: url("../svg/volume-mute.svg");
}

.audio__timeline {
  background: #959191;
  width: 100%;
  position: relative;
  cursor: pointer;
  height: 10px;
}
.audio__timeline .audio__progress-bar {
  background: #376588;
  width: 0%;
  height: 100%;
}

.audio__volume_container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio__volume_container .audio__volume-range {
  position: absolute;
  left: -3px;
  top: 8.5px;
  z-index: -1;
  height: 15px;
  background: #959191;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6666666667);
}
.audio__volume_container .audio__volume-range .audio__value {
  background: #376588;
  height: 100%;
  width: 75%;
}
.audio__volume_container:hover .audio__volume-range {
  left: -121px;
  width: 120px;
}

.quiz_button {
  width: 100%;
  margin-bottom: 25px;
  background-color: rgba(244, 244, 244, 0.62);
}
.quiz_button_active {
  background-color: #5b87a9;
  -webkit-backdrop-filter: blur(97px);
          backdrop-filter: blur(97px);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("../images/Frame-2.png");
}

.wrapper {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1599px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 999px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 639px) {
  .wrapper {
    padding: 0 10px;
  }
}

li {
  list-style: none;
}

.block__main-colored {
  background-color: #5b87a9;
  color: #fff;
}

.block__second-colored {
  background-color: rgba(244, 244, 244, 0.62);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #000;
}

.main {
  flex: 1 0 auto;
  position: relative;
}

.start {
  position: absolute;
  top: 70%;
  right: 20%;
}

.quiz {
  width: 100%;
  display: none;
  flex-wrap: wrap;
}

.quiz__sections {
  width: 100%;
  display: flex;
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-bottom: 25px;
}
@media (max-width: 1599px) {
  .quiz__sections {
    flex-wrap: wrap;
  }
}

.level {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
}
.level_active {
  background-color: #376588;
}

.quiz__card {
  width: 100%;
  display: flex;
  padding: 10px;
  margin-bottom: 25px;
}
@media (max-width: 639px) {
  .quiz__card {
    flex-direction: column;
  }
}

.quiz__image {
  text-align: center;
}

.quiz__card__img {
  width: 200px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
}

.quiz__variants, .quiz__variant-description {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 25px;
}
@media (max-width: 639px) {
  .quiz__variants, .quiz__variant-description {
    width: 100%;
  }
}

.variant {
  padding-bottom: 10px;
  border: 1px solid #959191;
  vertical-align: middle;
  padding: 10px;
  position: relative;
  padding-left: 20px;
}
.variant:before {
  top: calc(50% - 0.25rem);
  left: 5px;
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--circleColor, #376588);
}

.variants_list {
  padding: 0;
  margin: 0;
}

.variant__wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 999px) {
  .variant__wrapper {
    flex-direction: column;
  }
}

.variant__image-wrapper, .variant__name__wrapper {
  width: 50%;
}
@media (max-width: 999px) {
  .variant__image-wrapper, .variant__name__wrapper {
    text-align: center;
    width: 100%;
  }
}

.variant__name__wrapper {
  display: flex;
  flex-direction: column;
}

.win-message {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */