/// @type Color
$main-color: #5b87a9;
$main-darker: #376588; 
$second-color: rgba(244, 244, 244, 0.62);
$audio-timeline-color: #959191;
// $green: #4B9200 !default;
// $gray: #767474;
// $orange: #F9804B;
// $orange_dark: #E47209;
// $gray_light: #F1F3F2;
// $orange_grad: #FED290;
// $white: #ffffff;

/// Container's maximum width
/// @type Length
$max-width: 1600px !default;
$wrapper-width: 1160px;
$small-desktop-width: 1599px;
$tablet-width: 999px;
$mobile-width: 639px;