/// @type Color
$main-color: #5b87a9;
$main-darker: #376588; 
$second-color: rgba(244, 244, 244, 0.62);
$audio-timeline-color: #959191;

/// Container's maximum width
/// @type Length
$max-width: 1600px !default;
$wrapper-width: 1160px;
$small-desktop-width: 1599px;
$tablet-width: 999px;
$mobile-width: 639px;