* {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
 }
//  *::before,
// *::after {
//   box-sizing: border-box;
// }
 body {
   position: relative;
	  min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url('../images/Frame-2.png');
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    font-size: 22px;
    @include small-desktop {
      font-size: 20px;
    }
    @include tablet {
      font-size: 18px;
    }
    // justify-content: start;
    // align-items: center;
}

.wrapper {
    max-width: $wrapper-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    @include small-desktop {
      padding: 0 30px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include mobile {
      padding: 0 10px;
    }
}

li {
  list-style: none;
}

.block__main-colored {
  background-color: $main-color;
  color: #fff;
  border-radius: 10px;
}

.block__second-colored {
  background-color: $second-color;
  backdrop-filter: blur(5px);
  color: #000;
  border-radius: 10px;
}

.img {
  border-radius: 10px;
}