* {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
 }
//  *::before,
// *::after {
//   box-sizing: border-box;
// }
 body {
	min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrapper {
    max-width: $wrapper-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    @include small-desktop {
      padding: 0 30px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include mobile {
      padding: 0 10px;
    }
}

li {
  list-style: none;
}