.rs { 
    display: inline-block;
    height: 24px;
    width: 100px;
    background-image: url("../svg/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}